<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/Add-video}" th:object="${video}" method="post">
        <label for="bucket">Bucket</label>
        <input type="text" id="bucket" th:field="*{bucket}" required>
        <label for="fn">File Name</label>
        <input type="text"  id="fn" th:field="*{fileName}">
        <button type="submit" >Save Concert</button>
    </form>
</body>
</html>