<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <!-- @{https://storage.googleapis.com/{bucket}/{fileName}(bucket=${video.bucket},fileName=${video.fileName})}-->
   <!-- <video th:src="${Url}" controls></video>-->
     
   <video th:src="@{https://storage.googleapis.com/{bucket}/{fileName}(bucket=${Levideo.bucket},fileName=${Levideo.fileName})}" controls></video>
</body>
</html>
